<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361190843628-88hrukj7ns04hphfvkqkbs8v66gsgr9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361190843628-88hrukj7ns04hphfvkqkbs8v66gsgr9g</string>
	<key>API_KEY</key>
	<string>AIzaSyB8ffDRtQLM2J9izeMCtTIeUtlqRVpbbF0</string>
	<key>GCM_SENDER_ID</key>
	<string>361190843628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firetest.dev</string>
	<key>PROJECT_ID</key>
	<string>portfoliowebsite-b826b</string>
	<key>STORAGE_BUCKET</key>
	<string>portfoliowebsite-b826b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361190843628:ios:72ac8f899d083901e371c9</string>
	<key>DATABASE_URL</key>
	<string>https://portfoliowebsite-b826b.firebaseio.com</string>
</dict>
</plist>